.data/
.git/
.idea/
.local/
.media/
.ruff_cache/
.static/
.venv/
docker/
docs/
scripts/

.dockerignore
.editorconfig
.env
.gitignore
db.sqlite3
docker-compose.yml
Dockerfile
example.env
README.md
requirements-dev.txt
ruff.toml
